<section class="contact flex-row montserrat-text">
  <div class="contact-contacts flex-column">
    <div class="contact-title-block flex-column">
      <span class="contact-block-text montserrat-text">Contact us</span>
      <span class="contact-text raleway-text">Have an inquiry? We’ll be happy to assist you</span>
    </div>
    <div class="contact-info">
      <div class="contact-cred-type">
        <img src="assets/images/phone_icon.svg" alt="" class="contact-icon">
        <span class="contact-creds inline-block">+92 333 6527366</span>
      </div>
      <div class="contact-cred-type">
        <img src="assets/images/email_icon.svg" alt="" class="contact-icon">
        <span class="contact-creds inline-block">abuzer@greelogix.com</span>
      </div>
      <div class="contact-cred-type">
        <img src="assets/images/loc_icon.svg" alt="" class="contact-icon">
        <span class="contact-creds inline-block">Plot 252, Block L Phase 2 Johar Town, Lahore, PK</span>
      </div>
    </div>
  </div>
  <div class="contact-details flex-row">
    <form class="contact-form flex-column">
      <span class="contact-details-text">Fill in your details</span>
      <fieldset class="contact-wrap contact-wrap-margin flex-column">
        <label class="contact-label flex-column">
          <span class="contact-label-name montserrat-text">Name</span>
          <input type="text" name="contact-field" class="contact-field field-small raleway-text"
                 placeholder="John Doe">
        </label>
        <label class="contact-label flex-column">
          <span class="contact-label-name montserrat-text">Email</span>
          <input type="text" name="contact-field" class="contact-field field-small raleway-text"
                 placeholder="johndoe2347@mail.com">
        </label>
        <label class="contact-label flex-column">
          <span class="contact-label-name montserrat-text">Message</span>
          <textarea type="text" rows="4" cols="80" name="contact-field"
                    class="contact-field field-large raleway-text"
                    placeholder="Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae, fringilla id magna. Vestibulum ornare eget urna nec pulvinar. Praesent porttitor convallis blandit. Fusce vel egestas dolor. Donec eu augue enim. Donec rutrum non lacus ac rhoncus. Morbi quis luctus leo, nec cursus ex |"></textarea>
        </label>
      </fieldset>
      <button class="button accent-button contact-button">Submit</button>
    </form>
  </div>
</section>
