<footer id="footer" class="footer flex-row align-cm">
  <div class="footer-left-content flex-column align-cm">
    <div class="footer-logo">
      <a href="" class="header-logo-link">
        <img src="assets/images/logo.svg" alt="The Best experience of music in 2021" class="header-logo-pic">
      </a>
    </div>
    <nav class="footer-nav">
      <ul class="footer-list flex-row align-cm raleway-text">
        <li class="footer-item">
          <a href="" class="footer-link style-off">Home</a>
        </li>
        <li class="footer-item">
          <a href="" class="footer-link style-off">Company</a>
        </li>
        <li class="footer-item">
          <a href="" class="footer-link style-off">Blog</a>
        </li>
        <li class="footer-item">
          <a href="" class="footer-link style-off">Contact us</a>
        </li>
        <li class="footer-item">
          <a href="" class="footer-link style-off">Sitemap</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="footer-social-links flex-row align-cm">
    <a href="https://en.wikipedia.org/wiki/Facebook" class="footer-social-link">
      <img src="assets/images/facebook_logo.svg" alt="" class="footer-social-img">
    </a>
    <a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B2%D0%B8%D1%82%D1%82%D0%B5%D1%80" class="footer-social-link">
      <img src="assets/images/twitter_logo.svg" alt="" class="footer-social-img">
    </a>
    <a href="https://ru.wikipedia.org/wiki/LinkedIn" class="footer-social-link">
      <img src="assets/images/linkedin_logo.svg" alt="" class="footer-social-img">
    </a>
    <a href="https://en.wikipedia.org/wiki/Instagram" class="footer-social-link">
      <img src="assets/images/instagram_logo.svg" alt="" class="footer-social-img">
    </a>
  </div>
  <span class="footer-rights montserrat-text">© musik.com, 2021 </span>
</footer>
