<header class="header absolute flex-row align-cm montserrat-text">
  <div>
    <a href="">
      <img
        src="/assets/images/logo.svg"
        alt="Music Concert Logo"
        class="header-logo-picture"
        height="30" width="125"
      >
    </a>
  </div>
  <div class="flex-row align-cm">
    <nav>
      <ul class="flex-row style-off">
        <li class="header-navbar-list-item">
          <a href="" class="header-link style-off">
            home
          </a>
        </li>
        <li class="header-navbar-list-item">
          <a href="" class="header-link style-off">
            speakers
            <img
              src="/assets/images/dropdown_arrow.svg"
              alt="Dropdown Icon"
              class="dropdown-arrow-icon"
            >
          </a>
        </li>
        <li class="header-navbar-list-item">
          <a href="" class="header-link style-off">
            schedule
            <img
              src="/assets/images/dropdown_arrow.svg"
              alt="Dropdown Icon"
              class="dropdown-arrow-icon"
            >
          </a>
        </li>
        <li class="header-navbar-list-item">
          <a href="" class="header-link style-off">
            contact us
          </a>
        </li>
      </ul>
    </nav>
    <button type="submit" class="button primary-button montserrat-text">
      GET TICKETS
    </button>
  </div>
</header>
