<section class="singers relative flex-row align-cm">
  <div class="singers-content flex-column">
                <span class="singers-main-text montserrat-text">
                    Singers
                </span>
    <span class="singers-text raleway-text">
                    Fusce justo mi, vehicula id arcu et,
                    dapibus tristique lectus. Vivamus
                    a elit sodales, tincidunt nunc non,
                    maximus lacus. Fusce a augue sed dolor
                    auctor iaculis vitae id mauris. Integer
                    ut lectus non neque suscipit luctus.
                    Mauris et erat id ipsum condimentum cursus.
                    Sed tempus enim non massa mattis
                    iaculis. In quis massa risus
                </span>
    <button type="submit" class="button accent-button singers-button
                                            flex-row align-cm raleway-text">
      <a href="https://ru.wikipedia.org/wiki/BTS" class="style-off flex-row align-cm raleway-text">
        View All Singers
        <img src="assets/images/arrow_right.svg" alt="" class="singers-button-pic arrow-pic">
      </a>
    </button>
  </div>
  <div class="singers-images">
    <img src="assets/images/singers_top_left.png"
         alt="Singer Image" class="singers-top-left-image singers-image"
    >
    <img src="assets/images/singers_top_right.png"
         alt="Singer Image" class="singers-top-right-image singers-image"
    >
    <img src="assets/images/singers_bottom_left.png"
         alt="Singer Image" class="singers-bottom-left-image singers-image"
    >
    <img src="assets/images/singers_bottom_right.png"
         alt="Singer Image" class="singers-bottom-right-image singers-image"
    >
  </div>
</section>
