<section class="categories flex-column align-cm montserrat-text">
  <div class="categories-title">
                <span class="categories-title-text">
                    <span class="categories-highlight-text">
                        Explore
                    </span>
                    By Category
                </span>
  </div>
  <div class="categories-cards flex-row align-middle">
    <article class="category-card flex-column">
      <img
        src="assets/images/pop.svg"
        alt="Category Icon"
        class="category-icon"
      >
      <span class="category-card-main-text montserrat-text">
                        Pop
                    </span>
      <span class="category-card-text raleway-text">
                        Duis nec sodales nibh.
                        Proin lectus tortor,
                        rutrum vel vulputate vitae
                    </span>
    </article>
    <article class="category-card flex-column">
      <img
        src="assets/images/folk.svg"
        alt="Category Icon"
        class="category-icon"
      >
      <span class="category-card-main-text montserrat-text">
                        Folk
                    </span>
      <span class="category-card-text raleway-text">
                        Duis nec sodales nibh.
                        Proin lectus tortor,
                        rutrum vel vulputate vitae
                    </span>
    </article>
    <article class="category-card flex-column">
      <img
        src="assets/images/instrumental.svg"
        alt="Category Icon"
        class="category-icon"
      >
      <span class="category-card-main-text montserrat-text">
                        Instrumental
                    </span>
      <span class="category-card-text raleway-text">
                        Duis nec sodales nibh.
                        Proin lectus tortor,
                        rutrum vel vulputate vitae
                    </span>
    </article>
    <article class="category-card flex-column">
      <img
        src="assets/images/rock.svg"
        alt="Category Icon"
        class="category-icon"
      >
      <span class="category-card-main-text montserrat-text">
                        Rock
                    </span>
      <span class="category-card-text raleway-text">
                        Duis nec sodales nibh.
                        Proin lectus tortor,
                        rutrum vel vulputate vitae
                    </span>
    </article>
    <article class="category-card flex-column">
      <img
        src="assets/images/jazz.svg"
        alt="Category Icon"
        class="category-icon"
      >
      <span class="category-card-main-text montserrat-text">
                        Jazz
                    </span>
      <span class="category-card-text raleway-text">
                        Duis nec sodales nibh.
                        Proin lectus tortor,
                        rutrum vel vulputate vitae
                    </span>
    </article>
  </div>
</section>
