<section class="sponsors flex-column align-cm">
  <span class="sponsors-main-text montserrat-text">Our sponsors</span>
  <div class="sponsors-logos flex-column align-cm">
    <div class="sponsors-logo-row">
      <a href="https://en.wikipedia.org/wiki/Google" class="style-off">
        <img src="assets/images/google_logo.png" alt="" class="sponsors-logo-img">
      </a>
      <a href="https://en.wikipedia.org/wiki/Microsoft" class="style-off">
        <img src="assets/images/microsoft_logo.png" alt="" class="sponsors-logo-img">
      </a>
      <a href="https://en.wikipedia.org/wiki/Airbnb" class="style-off">
        <img src="assets/images/airbnb_logo.png" alt="" class="sponsors-logo-img">
      </a>
      <a href="https://en.wikipedia.org/wiki/Axure_RP" class="style-off">
        <img src="assets/images/axure_logo.png" alt="" class="sponsors-logo-img">
      </a>
    </div>
    <div class="sponsors-logo-row">
      <a href="https://en.wikipedia.org/wiki/Apple_Inc." class="style-off">
        <img src="assets/images/apple_logo.png" alt="" class="sponsors-logo-img">
      </a>
      <a href="https://en.wikipedia.org/wiki/Facebook" class="style-off">
        <img src="assets/images/facebook_logo.png" alt="" class="sponsors-logo-img">
      </a>
      <a href="https://en.wikipedia.org/wiki/Nokia" class="style-off">
        <img src="assets/images/nokia_logo.png" alt="" class="sponsors-logo-img">
      </a>
      <a href="https://en.wikipedia.org/wiki/Oracle_Corporation" class="style-off">
        <img src="assets/images/oracle_logo.png" alt="" class="sponsors-logo-img">
      </a>
    </div>
  </div>
  <button class="button accent-button raleway-text">Become a Sponsor</button>
</section>
