<section class="pricing flex-column align-cm">
  <span class="pricing-main-text montserrat-text">Choose a Tier that’s right for you</span>
  <div class="pricing-cards flex-row align-cm raleway-text">
    <article class="pricing-card">
      <div class="pricing-card-content flex-column align-cm">
        <div class="basic-price pricing-card-text-content flex-column align-cm montserrat-text">
          <span class="pricing-card-text">Basic</span>
          <span class="pricing-card-price">$100</span>
        </div>
        <div class="pricing-card-info flex-column align-cm">
          <span class="pricing-seat-info">1 seat available</span>
          <span class="empty-price-info pricing-wifi-access-info">Access to wifi router</span>
          <span class="empty-price-info pricing-food-info">Free food & coffee</span>
        </div>
        <button class="button primary-button montserrat-text">Get Tickets</button>
      </div>
    </article>
    <article class="pricing-card">
      <div class="pricing-card-content flex-column align-cm">
        <div class="standart-price pricing-card-text-content flex-column align-cm montserrat-text">
          <span class="pricing-card-text">Standard</span>
          <span class="pricing-card-price">$150</span>
        </div>
        <div class="pricing-card-info flex-column align-cm">
          <span class="pricing-seat-info">1 seat available</span>
          <span class="pricing-wifi-access-info">Access to wifi router</span>
          <span class="empty-price-info pricing-food-info">Free food & coffee</span>
        </div>
        <button class="button accent-button montserrat-text">Get Tickets</button>
      </div>
    </article>
    <article class="pricing-card">
      <div class="pricing-card-content flex-column align-cm">
        <div class="premium-price pricing-card-text-content flex-column align-cm montserrat-text">
          <span class="pricing-card-text">Premium</span>
          <span class="pricing-card-price">$200</span>
        </div>
        <div class="pricing-card-info flex-column align-cm">
          <span class="pricing-seat-info">2 seat available</span>
          <span class="pricing-wifi-access-info">Access to wifi router</span>
          <span class="pricing-food-info">Free food & coffee</span>
        </div>
        <button class="button primary-button montserrat-text">Get Tickets</button>
      </div>
    </article>
  </div>
</section>
