<section class="testimonials flex-column align-cm">
  <span class="testimonials-main-text montserrat-text">Testimonials</span>
  <div class="testimonials-cards flex-row align-cm">
    <article class="testimonials-card">
      <div class="testimonials-card-content">
        <div class="testimonials-quote">
          <div class="testimonials-quote-icon upper-quote relative">
            <img src="assets/images/quote_icon.svg" alt="" class="testimonials-quote-img">
          </div>
          <span class="testimonials-text raleway-text">
                                Lorem Ipsum is simply dummy text of the
                                printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard
                                dummy text ever since the 1500s, when
                                an unknown printer took a galley of type
                                and scrambled it to make a type specimen book.
                            </span>
          <div class="testimonials-quote-icon bottom-quote relative">
            <img src="assets/images/quote_icon.svg" alt="" class="testimonials-quote-img">
          </div>
        </div>
        <div class="testimonials-user flex-column align-cm relative">
          <img src="assets/images/ellie_avatar.png" alt="" class="testimonials-avatar-img">
          <div class="testimonials-user-info flex-column align-cm">
            <span class="testimonials-user-name">Ellie James</span>
            <a href="" class="testimonials-user-contacts style-off">ipsum.com</a>
          </div>
        </div>
      </div>
    </article>
    <article class="testimonials-card">
      <div class="testimonials-card-content">
        <div class="testimonials-quote front-testimonials-quote">
          <div class="testimonials-quote-icon upper-quote relative">
            <img src="assets/images/quote_icon.svg" alt="" class="testimonials-quote-img">
          </div>
          <span class="testimonials-text raleway-text">
                                Lorem Ipsum is simply dummy text of the
                                printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard
                                dummy text ever since the 1500s, when
                                an unknown printer took a galley of type
                                and scrambled it to make a type specimen book.
                            </span>
          <div class="testimonials-quote-icon bottom-quote relative">
            <img src="assets/images/quote_icon.svg" alt="" class="testimonials-quote-img">
          </div>
        </div>
        <div class="testimonials-user flex-column align-cm relative">
          <img src="assets/images/johny_avatar.png" alt="" class="testimonials-avatar-img">
          <div class="testimonials-user-info flex-column align-cm">
            <span class="testimonials-user-name">Johnny Doe</span>
            <a href="" class="testimonials-user-contacts style-off">ipsum.com</a>
          </div>
        </div>
      </div>
    </article>
    <article class="testimonials-card">
      <div class="testimonials-card-content">
        <div class="testimonials-quote">
          <div class="testimonials-quote-icon upper-quote relative">
            <img src="assets/images/quote_icon.svg" alt="" class="testimonials-quote-img">
          </div>
          <span class="testimonials-text raleway-text">
                                Lorem Ipsum is simply dummy text of the
                                printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard
                                dummy text ever since the 1500s, when an
                                unknown printer took a galley of type
                                and scrambled it to make a type specimen book.
                            </span>
          <div class="testimonials-quote-icon bottom-quote relative">
            <img src="assets/images/quote_icon.svg" alt="" class="testimonials-quote-img">
          </div>
        </div>
        <div class="testimonials-user flex-column align-cm relative">
          <img src="assets/images/myne_avatar.png" alt="" class="testimonials-avatar-img">
          <div class="testimonials-user-info flex-column align-cm">
            <span class="testimonials-user-name">Myne Barack</span>
            <a href="" class="testimonials-user-contacts style-off">ipsum.com</a>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
