/**
 * База
 */
* {
  box-sizing: border-box;
  cursor: url('assets/images/custom_cursor_auto.svg'), auto;

  margin: 0;
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

/**
 * Позиционирование
 */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-cm {
  justify-content: center;
  align-items: center;
}
.align-center {
  justify-content: center;
}
.align-middle {
  align-items: center;
}

/**
 * Текст
 */
.style-off {
  text-decoration: none;
  list-style: none;

  font-style: normal;
}

.montserrat-text {
  font-family: 'Montserrat';
}

.raleway-text {
  font-family: 'Raleway';
}

/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src:
    url('assets/fonts/montserrat/montserrat-v25-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('assets/fonts/montserrat/montserrat-v25-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src:
    url('assets/fonts/montserrat/montserrat-v25-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('assets/fonts/montserrat/montserrat-v25-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src:
    url('assets/fonts/montserrat/montserrat-v25-latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('assets/fonts/montserrat/montserrat-v25-latin-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src:
    url('assets/fonts/raleway/raleway-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('assets/fonts/raleway/raleway-v28-latin-regular.woff') format('woff');
}

/* raleway-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src:
    url('assets/fonts/raleway/raleway-v28-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('assets/fonts/raleway/raleway-v28-latin-700.woff') format('woff'); /* Modern Browsers */
}

/**
 * Кнопки
 */
.button {
  border-radius: 0.5rem;
}

.accent-button {
  height: 3rem;
  width: 10rem;

  background-color: #b892ff;

  color: #ffffff;

  border: none;
}
.accent-button:hover {
  background-color: #a072ff;
}

.transparent-button {
  height: 3rem;
  width: 15rem;

  background-color: transparent;

  border: none;
}
.transparent-button:hover {
  text-shadow:
    -1px -1px #b300b7,
    1px 1px #8c00ff;
}

.primary-button {
  height: 3rem;
  width: 10rem;

  background-color: #ffffff;
  color: #483d8b;

  text-transform: uppercase;

  font-size: 1.1rem;
  font-weight: bold;
}
.primary-button:hover {
  background-color: #dfdfee;
}
